---
apiVersion: batch/v1
kind: CronJob
metadata:
  labels:
    app.kubernetes.io/name: bao-snapshot
    app.kubernetes.io/version: v0.1.0
  name: bao-snapshot
spec:
  schedule: 0 * * * *
  jobTemplate:
    metadata:
      labels:
        app.kubernetes.io/name: bao-snapshot
        app.kubernetes.io/version: v0.1.0
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: bao-snapshot
            app.kubernetes.io/version: v0.1.0
        spec:
          restartPolicy: Never
          automountServiceAccountToken: true
          serviceAccountName: bao-snapshot
          containers:
          - name: bao-snapshot
            env:
            - name: S3_HOST
              value: s3.example.com
            - name: S3_BUCKET
              value: bucket
            - name: S3_URI
              value: s3://bucket
              # leave empty to retain snapshot files (default)
            - name: S3_EXPIRE_DAYS
              value:
              # Leave empty to use system trust store, use "--ca-certs=" to specify the path to the CA or "--no-check-certificate" to skip TLS verification
            - name: S3CMD_EXTRA_FLAG
              value:
              # Leave empty to use default '/var/run/secrets/kubernetes.io/serviceaccount/token'
            - name: TOKEN_PATH
              value:
            - name: BAO_AUTH_PATH
              value: kubernetes
            - name: BAO_ROLE
              value: bao-raft-snapshot
            - name: BAO_ADDR
              value: https://bao.examaple.com
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  key: aws_secret_access_key
                  name: bao-snapshot-credentials
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  key: aws_access_key_id
                  name: bao-snapshot-credentials
            image: ghcr.io/openbao/openbao-snapshot-agent:0.2.3
            volumeMounts:
              - name: snapshot-dir
                mountPath: /bao-snapshots
            imagePullPolicy: IfNotPresent
          volumes:
          - name: snapshot-dir
            emptyDir: {}
